In [6]:
import pandas as pd

In [24]:
df1 = pd.read_csv('data/2023_property_crime.csv',
    header=0,
    index_col=['crime_type', 'total_type'],
    usecols=['crime_type', 'total_type'])
display(df1)

Empty DataFrame
Columns: []
Index: [(breaking_entering, 1112), (theft, 7118), (auto_theft, 1308), (arson, 21)]

In [25]:
df2 = pd.read_csv('data/2023_violent_crime.csv',
    header=0,
    index_col=['crime_type', 'total_type'],
    usecols=['crime_type', 'total_type'])
display(df2)

Empty DataFrame
Columns: []
Index: [(murder, 24), (rape, 157), (robbery, 252), (aggravated_assault, 382)]

In [26]:
df3 = df1.join(df2, how='outer')
display(df3)

Empty DataFrame
Columns: []
Index: [(aggravated_assault, 382), (arson, 21), (auto_theft, 1308), (breaking_entering, 1112), (murder, 24), (rape, 157), (robbery, 252), (theft, 7118)]

In [27]:
df4 = pd.read_csv('data/2022_property_crime.csv',
    header=0,
    index_col=['crime_type', 'total_type'],
    usecols=['crime_type', 'total_type'])
display(df4)

Empty DataFrame
Columns: []
Index: [(breaking_entering, 1141), (theft, 7109), (autho_theft, 1337), (arson, 22)]

In [28]:
df5 = pd.read_csv('data/2022_violent_crime.csv',
    header=0,
    index_col=['crime_type', 'total_type'],
    usecols=['crime_type', 'total_type'])
display(df5)

Empty DataFrame
Columns: []
Index: [(murder, 44), (rape, 175), (robbery, 226), (aggravated_assault, 454)]

In [29]:
df6 = df4.join(df5, how='outer')
display(df6)

Empty DataFrame
Columns: []
Index: [(aggravated_assault, 454), (arson, 22), (autho_theft, 1337), (breaking_entering, 1141), (murder, 44), (rape, 175), (robbery, 226), (theft, 7109)]

In [30]:
df6.total_type.sum()

AttributeError: 'DataFrame' object has no attribute 'total_type'